name: Tests

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Install bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: 1.3.1

            - name: Install dependencies
              run: make install

            - name: Run TypeScript tests
              run: make test
